<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Our team</h2>
            <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">

            {% for member in site.data.members %}

            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="{{ member.photo }}" alt="..." />
                    <h5 class="fw-bolder">{{ member.name }}</h5>
                    <div class="fst-italic text-muted">{{ member.nickname }}</div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</section>
